*{
  box-sizing: border-box;
  margin: 0;
}

body {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


main.about-page {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

main.about-page h1, 
main.about-page h2 {
  text-align: center;
  margin-bottom: 20px;
}

main.about-page p {
  margin-bottom: 15px;
  line-height: 1.6;
}

main.about-page ul {
  list-style: none;
  padding: 0;
}

main.about-page ul li {
  margin-bottom: 10px;
}

