header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  width: 100%;
  height: 80px;
  padding: 25px;
}

a {
  text-decoration: none;
  color: black;
}
.logo {
  width: 130px;
}
.shit {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.search-container {
  display: flex;
  justify-content: center;
  max-width: 650px;
  width: 80%;
}
.search-container select{
  border: 1px solid black;
  cursor: pointer;
  border-radius: 5px;
  width: 15%;
  /* min-width: 85px; */
  margin-right: 5px;
}
.search-container select:focus{
  outline: none;
}
.search-container .search-input{
  padding: 10px;
  border: 1px solid black;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 85%;
}
.search-container .search-input:focus{
  outline: none;
}
.search-container .search-btn{
  cursor: pointer;
  width: 50px;
  padding: 5px;
  border: 1px solid black;
  border-left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: darkgray;
  color: white;
  transition: 0.3s;
  font-size: 15px;
}
.search-btn:hover{
  transform: scale(1.03);
  opacity: 0.8;
}

.search-results{
  width: 80%;
  max-width: 650px;
  min-height: 130px;
  padding: 20px;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 8px;
  position: absolute;
  top: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}
.search-product{
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid black;
  width: 100%;
  padding: 5px;
  transition: 0.3s;
}
.search-product:hover{
  transform: scale(1.01);
}
.search-product img{
  width: 100px;
  height: 100px;
  object-fit: contain;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 15px;
  padding: 0;
}
ul li{
  transition: 0.3s;
}
ul li:hover{
  transform: scale(1.08);
  opacity: 0.8;
}
.login-btn{
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.login-btn:focus{
  outline: none;
}
.login-btn i{
  font-size: 30px;
}

.fa-cart-shopping{
  position: relative;
}
.cart-num{
  width: 15px;
  height: 15px;
  line-height: 15px;
  border-radius: 50%;
  background-color: grey;
  color: white;
  font-size: 8px;
  text-align: center;
  position: absolute;
  top: -14px;
  left: 50%;
  display: none;
}

#search-loader{
  position: absolute;
  top: 42%;
  left: 45%;
  
}