header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  width: 100%;
  height: 80px;
  padding: 25px;
}

a {
  text-decoration: none;
  color: black;
}
.logo {
  width: 130px;
}

.search-container {
  width: -webkit-fill-available;
  display: flex;
  justify-content: center;
  max-width: 650px;
}
.search-container select{
  border: 1px solid black;
  cursor: pointer;
  border-radius: 5px;
  width: 15%;
  /* min-width: 85px; */
  margin-right: 5px;
}
.search-container select:focus{
  outline: none;
}
.search-container .search-input{
  padding: 10px;
  border: 1px solid black;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 55%;
}
.search-container .search-input:focus{
  outline: none;
}
.search-container .search-btn{
  cursor: pointer;
  width: 50px;
  padding: 5px;
  border: 1px solid black;
  border-left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: darkgray;
  color: white;
  transition: 0.3s;
  font-size: 15px;
}
.search-btn:hover{
  transform: scale(1.03);
  opacity: 0.8;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 15px;
}
ul li{
  transition: 0.3s;
}
ul li:hover{
  transform: scale(1.08);
  opacity: 0.8;
}
.login-btn{
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.login-btn:focus{
  outline: none;
}
.login-btn i{
  font-size: 30px;
}